@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
    --color: #292828;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color);
}

html, body {
    background-color: #F4F4F4 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--color);
    padding: 3rem;
    display: flex;
    justify-content: center;
}

footer > img {
    width: 20rem;
}

.header-txt > h2 {
    font-weight: 600;
}

h2 + p {
    font-weight: 300;
    font-size: 1.2rem;
}

.todoItem {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.todoItem .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.todoItem .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.todoItem .date-time {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.todoItem .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoItem .actions button {
    border: none;
    background: none;
    cursor: pointer;
}

.todoItem .actions .btn-delete {
    color: #d9534f;
}

#checkbox {
    width: 20px;
    height: 20px;
    accent-color: var(--color);
}

/* Estilos de la tarea completada */
.todoItem.completed {
    opacity: 0.5; /* Hace toda la tarea un poco más opaca */
}

.todoItem.completed .title {
    text-decoration: line-through; /* Tacha el texto */
    color: #999; /* Color del texto tachado */
}

#TodoList {
    padding-left: 0 !important;
}

.btn-open, .btn-save {
    background-color: var(--color) !important;
    color: #F4F4F4 !important;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
}
